pkgbase = redo-c
	pkgdesc = An implementation of the redo build system in portable C with zero dependencies
	pkgver = 0.9.0
	pkgrel = 1
	url = https://github.com/leahneukirchen/redo-c
	arch = x86_64
	license = CC0-1.0
	makedepends = gcc
	conflicts = redo-c-git
	conflicts = redo-jdebp
	conflicts = redo-python
	conflicts = redo-sh
	source = redo-c-0.9.0.tar.gz::https://github.com/tbk/redo-c/archive/0.9.0.tar.gz
	sha256sums = b7b68a9768db6f09745a6055f13513e7b05494b0916d0c4e00d38872b5bbd2ef

pkgname = redo-c

